@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white font-inter;
}

h1, h3, h4, h5, h6 {
  @apply font-poppins font-bold;
}

.section-title {
  @apply text-4xl md:text-5xl font-poppins font-bold text-center mb-8 text-blue-300;
}

.section-content {
  @apply text-lg text-gray-300 space-y-4 font-inter;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .md\\:hidden {
    display: none;
  }
  .md\\:flex {
    display: flex;
  }
  .space-y-3 > * {
    margin-top: 0.75rem; /* Ajusta este valor según sea necesario */
  }
  .space-y-3 > *:first-child {
    margin-top: 0;
  }
}
